{% extends 'base.html.twig' %}

{% block title %}Hello ChatController!{% endblock %}

{% block body %}

    {{ form(form) }}

    <label for="response_message">Response message</label>
    <textarea id="response_message">{{ responseMessage }}</textarea>

{% endblock %}
